# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import pandas as pd
import numpy as np
import scipy
from sklearn import datasets

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
diabetes = datasets.load_diabetes()
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'C:\\Users\\Ramiro Antonio\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_data.csv.gz',
 'target_filename': 'C:\\Users\\Ramiro Antonio\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_target.csv.gz'}

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

In [5]:
#### Enter your answer here:
'''
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

'''

'\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\n'

In [6]:
#Voy a verificar que sí sea cierto
df_diabetes = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)
df_diabetes.head(3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [7]:
# Your code here:
df_diabetes.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [8]:
diabetes.target #target es quantitative measure of disease progression one year after baseline

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.])

In [9]:
# Your code here:
from sklearn.model_selection import train_test_split #separar la base de datos
from sklearn.linear_model import LinearRegression  #tipo de modelo 1
from sklearn.linear_model import Ridge  #tipo de modelo 2 con variables de penalización

In [10]:
#Asignas la variable dependiente que está en diabetes en target y lo metes al data frame que ya transformaste antes
df_diabetes["DiabetesMeasureProgression"] = diabetes.target
df_diabetes.head(3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,DiabetesMeasureProgression
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0

Initialize the model in the variable `diabetes_model`

In [11]:
# Your code here:
X = df_diabetes.drop("DiabetesMeasureProgression", axis=1)  #Quitamos DiabetesMeasure Progression de la base
y = df_diabetes.DiabetesMeasureProgression #Asignamos DiabetesMeasuerProgression como dependiente

In [12]:
#Hacemos la separación (no sé si se necesita ahorita, pero igual lo voy a hacer)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [13]:
#Inicializamos el modelo
diabetes_model = LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [14]:
# Your code here:
diabetes_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [1]:
train_score = diabetes_model.score(X_train, y_train)
test_score = diabetes_model.score(X_test, y_test)

#Imprimimos resultados
print(f"Coeficientes: {diabetes_model.coef_}") #coeficientes
print(f"Interception: {diabetes_model.intercept_}") #Intercepto / ordenada al origen
print(f"Valor R^2: {train_score, test_score}") #R^2

NameError: name 'diabetes_model' is not defined

In [16]:
#predicción de valores de Diabetes Measure Progression
predicted = diabetes_model.predict(X_test)
predicted

array([249.11968765, 212.96994979, 194.84762193, 160.1515698 ,
       217.26602175, 119.30263429, 225.24843708,  63.7800926 ,
       282.10256889, 189.39105027, 100.23425158, 225.06950889,
       194.50328504, 182.25453145, 112.16769895, 254.00467945,
        90.61831381,  67.53294551, 192.62785956, 162.34091014,
       181.34847421,  75.11895393, 216.39445197,  93.43740941,
       121.336805  , 206.60584574, 111.0962124 , 247.66568265,
       208.57681961, 166.67848214, 167.28238291, 176.97936313,
       282.72930784, 123.55201686, 214.27827802,  90.34495051,
        72.48549219, 182.07421028, 127.77409962, 174.69883254,
       225.31412451,  99.1714698 , 183.06342366, 161.91733561,
       149.41500577, 158.68202143,  39.93905018, 101.12656062,
       195.05582295, 115.68746326, 159.28938827, 102.68546305,
       204.67567737, 126.10427991, 244.33464127, 172.49013012,
       129.43734257, 148.63701416, 174.69795777,  61.05084323,
       115.8777243 , 122.23072019, 143.23262291, 145.60590531,
       146.34074429,  64.56855456, 183.93864317, 115.66934993,
        97.10206016, 212.46947303, 129.88665593, 174.28283621,
       164.83371887, 164.36710204, 198.41219052, 177.03830451,
       143.35872424, 117.89226322, 227.77068244,  65.01937787,
       102.1433507 , 201.49449008,  94.27854809, 212.19796051,
       185.32599974,  61.75691577, 141.0165989 , 145.10123734,
       138.46040924])

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [17]:
# Your code here:
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [18]:
#hacemos el modelo
x_diabetes = sm.add_constant(df_diabetes[["age","sex","bmi","bp","s1","s2","s3","s4","s5","s6"]])
y_diabetes = df_diabetes["DiabetesMeasureProgression"]

modelo1 = sm.OLS(y_diabetes, x_diabetes).fit()
predictions = modelo1.predict()

print_model = modelo1.summary()

C:\Users\Ramiro Antonio\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [19]:
print_model

<class 'statsmodels.iolib.summary.Summary'>
"""
                                OLS Regression Results
======================================================================================
Dep. Variable:     DiabetesMeasureProgression   R-squared:                       0.518
Model:                                    OLS   Adj. R-squared:                  0.507
Method:                         Least Squares   F-statistic:                     46.27
Date:                        Wed, 29 Jan 2020   Prob (F-statistic):           3.83e-62
Time:                                10:12:43   Log-Likelihood:                -2386.0
No. Observations:                         442   AIC:                             4794.
Df Residuals:                             431   BIC:                             4839.
Df Model:                                  10
Covariance Type:                    nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        152.1335      2.576     59.061      0.000     147.071     157.196
age          -10.0122     59.749     -0.168      0.867    -127.448     107.424
sex         -239.8191     61.222     -3.917      0.000    -360.151    -119.488
bmi          519.8398     66.534      7.813      0.000     389.069     650.610
bp           324.3904     65.422      4.958      0.000     195.805     452.976
s1          -792.1842    416.684     -1.901      0.058   -1611.169      26.801
s2           476.7458    339.035      1.406      0.160    -189.621    1143.113
s3           101.0446    212.533      0.475      0.635    -316.685     518.774
s4           177.0642    161.476      1.097      0.273    -140.313     494.442
s5           751.2793    171.902      4.370      0.000     413.409    1089.150
s6            67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [20]:
#Las variables que son estadísticamente significativas son sex, bmi, bp, s5
#El estadístico F es 46.27 y su p value [prob(F-statistic)] is 3.83e-62, lo que significa que es muy pequeño, mucho
#menor que 0.01, lo que significa que rechzamos la hipótesis nula y aceptamos la alternativa, lo que significa que
#el modelo si explica parte de la varianza de la dependiente.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [21]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [22]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [23]:
# Your code here:
auto.dtypes
#no se necesito cambiar ninguna variable a numérica

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [24]:
# Your code here:
auto.model_year.describe()

#Min 70 años, max 82 años

count    398.000000
mean      76.010050
std        3.697627
min       70.000000
25%       73.000000
50%       76.000000
75%       79.000000
max       82.000000
Name: model_year, dtype: float64

Check the dataset for missing values and remove all rows containing at least one missing value.

In [25]:
# Your code here:
auto.isnull().sum() #horse_power tiene 6 valores faltantes

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [33]:
#Remover esos valores faltantes
auto_limpio = auto.dropna()
auto_limpio.isnull().sum() #no hay valores faltantes

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [27]:
# Your code here:
auto_limpio.cylinders.value_counts()
#hay 5 valores de cilindros

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [35]:
#Drop car_name
auto_limpio = auto_limpio.drop("car_name", axis=1)

In [37]:
auto_limpio

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
5,15.0,8,429.0,198.0,4341,10.0,70
6,14.0,8,454.0,220.0,4354,9.0,70
7,14.0,8,440.0,215.0,4312,8.5,70
8,14.0,8,455.0,225.0,4425,10.0,70
9,15.0,8,390.0,190.0,3850,8.5,70
10,15.0,8,383.0,170.0,3563,10.0,70
11,14.0,8,340.0,160.0,3609,8.0,70
12,15.0,8,400.0,150.0,3761,9.5,70
13,14.0,8,455.0,225.0,3086,10.0,70
14,24.0,4,113.0,95.0,2372,15.0,70
15,22.0,6,198.0,95.0,2833,15.5,70
16,18.0,6,199.0,97.0,2774,15.5,70
17,21.0,6,200.0,85.0,2587,16.0,70
18,27.0,4,97.0,88.0,2130,14.5,70
19,26.0,4,97.0,46.0,1835,20.5,70
20,25.0,4,110.0,87.0,2672,17.5,70
21,24.0,4,107.0,90.0,2430,14.5,70
22,25.0,4,104.0,95.0,2375,17.5,70
23,26.0,4,121.0,113.0,2234,12.5,70
24,21.0,6,199.0,90.0,2648,15.0,70
25,10.0,8,360.0,215.0,4615,14.0,70
26,10.0,8,307.0,200.0,4376,15.0,70
27,11.0,8,318.0,210.0,4382,13.5,70
28,9.0,8,304.0,193.0,4732,18.5,70
29,27.0,4,97.0,88.0,2130,14.5,71
...,...,...,...,...,...,...,...
367,28.0,4,112.0,88.0,2605,19.6,82
368,27.0,4,112.0,88.0,2640,18.6,82
369,34.0,4,112.0,88.0,2395,18.0,82
370,31.0,4,112.0,85.0,2575,16.2,82
371,29.0,4,135.0,84.0,2525,16.0,82
372,27.0,4,151.0,90.0,2735,18.0,82
373,24.0,4,140.0,92.0,2865,16.4,82
375,36.0,4,105.0,74.0,1980,15.3,82
376,37.0,4,91.0,68.0,2025,18.2,82
377,31.0,4,91.0,68.0,1970,17.6,82
378,38.0,4,105.0,63.0,2125,14.7,82
379,36.0,4,98.0,70.0,2125,17.3,82
380,36.0,4,120.0,88.0,2160,14.5,82
381,36.0,4,107.0,75.0,2205,14.5,82
382,34.0,4,108.0,70.0,2245,16.9,82
383,38.0,4,91.0,67.0,1965,15.0,82
384,32.0,4,91.0,67.0,1965,15.7,82
385,38.0,4,91.0,67.0,1995,16.2,82
386,25.0,6,181.0,110.0,2945,16.4,82
387,38.0,6,262.0,85.0,3015,17.0,82
388,26.0,4,156.0,92.0,2585,14.5,82
389,22.0,6,232.0,112.0,2835,14.7,82
390,32.0,4,144.0,96.0,2665,13.9,82
391,36.0,4,135.0,84.0,2370,13.0,82
392,27.0,4,151.0,90.0,2950,17.3,82
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [39]:
#Subset dataframe
X = auto_limpio.drop("mpg", axis=1)  #Quitamos mpg
y = auto_limpio.mpg #Asignamos mpg como dependiente

#Entrenamos el modelo
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [41]:
# Your code here:
linreg_auto = LinearRegression()  #este es mi modelo

Next, fit the model in the cell below.

In [43]:
# Your code here:
linreg_auto.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
train_score = linreg_auto.score(X_train, y_train)
test_score = linreg_auto.score(X_test, y_test)
print(f"Coeficientes: {linreg_auto.coef_}")
print(f"Interception: {linreg_auto.intercept_}")
print(f"Valor R^2: {train_score, test_score}")
predicted = linreg_auto.predict(X_test)

Coeficientes: [-2.31406377e-01  7.09326289e-03 -6.48046133e-04 -6.87967923e-03
  1.17500128e-01  8.10770322e-01]
Interception: -19.434657859326173
Valor R^2: (0.8078804438469585, 0.8078401241969183)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [55]:
# Import the necessary function:
from sklearn.metrics import r2_score #este sí era el que necesito!!!!!

In [65]:
#esto se llama "predicted", PREGUNTA:pero se hace con el train o con el test?
y_pred = linreg_auto.predict(X_train)  #son los valores de "y" que se obtuvieron del modelo con las variables en X
r2_score(y_train, y_pred)  #aja, pero aquí que se sacó

0.8078804438469585

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [67]:
y_test_pred = linreg_auto.predict(X_test)   #Por qué aquí no se puede hacer con el X_TRAIN? PORQUE ES ES EL TEST!
r2_score(y_test, y_test_pred)

0.8078401241969183

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [68]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size=0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [73]:
# Your code here:
auto_model09 = LinearRegression() #indicamos qué modelo
auto_model09.fit(X_train09, y_train09) #hacemos el fit del modelo

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [78]:
# Your code here:
y_pred09 = auto_model09.predict(X_train09) #por qué train sí y test no
r2_score(y_train09, y_pred09)

0.809732373545

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [81]:
# Your code here:
y_test_pred09 = auto_model09.predict(X_test09)
r2_score(y_test09, y_test_pred09)

0.7956962525178082

In [ ]:
#VEMOS QUE NO HAY UNA MEJORÍA EN EL FIT DEL MODELO.

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here: